BalanceSvcLib/BalanceSvc_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://BalanceSvc" xmlns:tns="http://BalanceSvc">
    <xsd:import schemaLocation="BalanceSchemas.xsd"/>
    <xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" name="getBalance">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="accountNumber" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" name="getBalanceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="AccountBalance"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>